/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}


/* BASE STYLES */

body {
    padding: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(16,16,79,1) 100%);
}

h1 {
    font-size: 3.125rem;
}

h2 {
    font-size: 2.625rem;
    font-weight: 300;
}

h3 {
    font-size: 1.3125rem;
    color: gray;
}

a {
    color: aquamarine;
}

header {
    text-align: center;
}

section {
    padding: 4rem 0;
}

img {
    height: auto;
    max-width: 100%;
}

footer {
    text-align: end;
}

footer section {
    text-align: center;
    padding: 0;
}

footer a {
    color: #447dc2;
    font-size: 2rem;
}

/* GIFT page styles */

.bottomButton button {
    padding: 1rem;
    background: rgb(6, 78, 195);
    color: white;
    transition: 0.5s;
    text-align: center;
    border-radius: 0.25rem;
    border: 0;
}

.bottomButton button:hover {
    background: rgb(0, 61, 158);
    box-shadow: 5;
    cursor: pointer;
}